In [1]:
# importar bibliotecas
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd

In [2]:
# Realizar conex√£o com o GCP
credentials = service_account.Credentials.from_service_account_file("..\..\keys\ml-na-saude-ed1fc3c1a83e.json")
client = bigquery.Client(credentials=credentials, project=credentials.project_id)
consulta_sql = """SELECT * FROM `ml-na-saude.yll_por_obito.yll_por_obito`"""
df = client.query(consulta_sql).to_dataframe()

c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\google\cloud\bigquery\table.py:1563: UserWarning: Dependency google-cloud-bigquery-storage is outdated, please upgrade it to version >= 2.0.0 (version found: 0.0.0).
  warnings.warn(str(exc))

In [3]:
df.head()

,ano_obito,quad_obito,dt_obito,dt_nasc,idade,yll,cid10,cd_mun_res,populacao,__index_level_0__
0,2010,2,2010-07-08 00:00:00+00:00,2005-06-25 00:00:00+00:00,5.03,82.58,E41,120020,81907.0,240
1,2010,1,2010-01-30 00:00:00+00:00,1980-10-26 00:00:00+00:00,29.26,62.66,A169,270240,49255.0,529
2,2010,1,2010-04-20 00:00:00+00:00,1993-10-11 00:00:00+00:00,16.52,72.60,E102,270430,955235.0,1865
3,2010,3,2010-12-09 00:00:00+00:00,1998-05-20 00:00:00+00:00,12.56,77.58,A35,270030,219165.0,2982
4,2010,3,2010-12-13 00:00:00+00:00,1999-03-08 00:00:00+00:00,11.77,77.58,E41,270915,42144.0,3037

In [4]:
df.dtypes

ano_obito                         object
quad_obito                         int64
dt_obito             datetime64[ns, UTC]
dt_nasc              datetime64[ns, UTC]
idade                            float64
yll                              float64
cid10                             object
cd_mun_res                        object
populacao                        float64
__index_level_0__                  int64
dtype: object

In [5]:
df.shape

(1755025, 10)

In [6]:
df.isna().sum()

ano_obito              0
quad_obito             0
dt_obito               0
dt_nasc                0
idade                  0
yll                    0
cid10                  0
cd_mun_res             0
populacao            990
__index_level_0__      0
dtype: int64

In [7]:
df = df.dropna(subset=['populacao'])

In [8]:
df.isna().sum()

ano_obito            0
quad_obito           0
dt_obito             0
dt_nasc              0
idade                0
yll                  0
cid10                0
cd_mun_res           0
populacao            0
__index_level_0__    0
dtype: int64